.Unchi {
  color: brown;
}

.BigUnchi {
  color: brown;
  font-weight: bold;
}

.BigUnko {
  color: brown;
  font-weight: bold;
}


.GradUnko {
  font-size: 30px;
  color: #8b4513;
  background: -webkit-linear-gradient(0deg, #ffa666, #331907);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.single { max-width: 600px; margin: 0 auto 50px;}
.single img{ width: 100%;}
